@font-family {
  src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
  font-family: 'Raleway';
}

:root {
  --blue-200: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --blue-850: hsl(228, 56%, 26%);
  --blue-950: hsl(229, 57%, 11%);
}

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--blue-950);
  color: var(--blue-200);
  font-size: 1rem;
  margin: 0;
}

.container {
  background: url("bg-desktop.png") no-repeat bottom;
  background-size: contain;
  display: grid;
  align-items: center;
  grid-template-rows: maxmax(15.625rem, 1fr) 7.5rem;
  height: 100vh;
  justify-content: stretch;
  justify-items: center;
  padding: 1.5rem;
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: stretch;
  align-items: end;
  max-width: 60rem;
  gap: 1.5rem;
}

.navigation {
  background-color: var(--blue-850);
  padding: 2rem 6rem 2rem 2rem;
  border-radius: .5rem 5rem .5rem .5rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  justify-content: stretch;
  min-height: 10.938rem;
  min-width: 10.938rem;
}

 .logo {
  height: 2rem;
  width: 6.5rem;
}

.navigation-bar {
  display: flex;
  gap: .75rem;
}

.nav-item {
  background: var(--blue-950);
  border-radius: .375rem;
  box-shadow: none;
  border: none;
  height: 3rem;
  width: 3rem;
  padding: .75rem;
}

.details-wrapper {
	display: flex;
	flex-direction: column;
}

.details-container {
	background-color: var(--blue-850);
	border-radius: .5rem;
	display: grid;
	grid-template-rows: 1fr 1fr;
	min-height: 7.813rem;
	width: 100%;
	padding: 1.5rem;
}

.details-range {
	display: flex;
	justify-content: space-between;
}

.range-indicator-container {
	background-color: var(--blue-950);
	margin: .75rem 0;
	height: 1.25rem;
	border-radius: 1.25rem;
}

.range-indicator {
	background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
	border-radius: 1.25rem;
	display: flex;
	flex-direction: row-reverse;
	width: 81.5%;
	height: 1rem;
	margin: .125rem;
}

.range-point {
	background-color: var(--blue-200);
	border-radius: 1.25rem;
	height: .75rem;
	width: .75rem;
	margin: .063rem;
}

.details-remaining {
	background: var(--blue-200);
	color: var(--blue-950);
	max-width: 10.313rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-radius: .25rem;
	padding: 1.125rem;
	gap: .25rem;
	position: relative;
}

.details-remaining span {
	font-size: 1.125rem;
	font-weight: bold;
}

.details-remaining:before {
	border-top: .625rem solid var(--blue-200);
	border-right: .625rem solid var(--blue-200);
	border-bottom: .625rem solid transparent;
	border-left: .625rem solid transparent;
	content: "";
	position: absolute;
	right: 0px;
	top: 3.4rem;
}

.details-remaining {
	align-self: flex-end;
	right: 1.5rem;
	top: 1.5rem;
}

@media only screen and (max-width: 1100px) {
	.container {
		background: url("bg-mobile.png") no-repeat;
		grid-template-rows: 1fr 1fr;
		justify-content: center;
		align-items: center;
	}

	.card {
		grid-template-columns: 1fr;
		gap: 1rem;
		align-items: center;
		justify-content: center;
	}

	.details-wrapper {
		display: flex;
		flex-direction: column-reverse;
	}

	.details-container {
		padding: 2rem 2rem 3rem 2rem;
	}

	.details-remaining {
		justify-content: center;
		margin-top: -3rem;
		width: 25rem;
	}

	.details-remaining:before {
		display: none;
	}

	.details-remaining span {
		font-size: 2.5rem;
	}
}
