@font-family {
  src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
  font-family: 'Raleway';
}

:root {
  --blue-200: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --blue-850: hsl(228, 56%, 26%);
  --blue-950: hsl(229, 57%, 11%);
}

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--blue-950);
  color: var(--blue-200);
  font-size: 1rem;
  margin: 0;
}

.container {
  background: url("bg-desktop.png") no-repeat bottom;
  background-size: contain;
  display: grid;
  align-items: center;
  grid-template-rows: maxmax(15.625rem, 1fr) 7.5rem;
  height: 100vh;
  justify-content: stretch;
  justify-items: center;
  padding: 1.5rem;
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: stretch;
  align-items: end;
  max-width: 60rem;
  gap: 1.5rem;
}

.navigation {
  background-color: var(--blue-850);
  padding: 2rem 4rem 2rem 2rem;
  border-radius: .313rem 1rem .313rem .313rem;
}

.navigation img {
  height: 2rem;
  width: 5rem;
  margin-bottom: 1.5rem;
}

.navigation-bar img {
  background-color: var(--blue-950);
  margin-right: 1rem;
  padding: .5rem;
}

